@model Library.Views.Admin.IndexModel

<div class="overlay"></div>

<div class="user-container">
    <h2>📚 管理者模式</h2>
    <p>請選擇您的功能：</p>

    <div class="button-group">
        <a asp-controller="Book" asp-action="Manage" class="btn-option">
            書庫管理
        </a>

		<a asp-controller="MemberManage" asp-action="Index" class="btn-option">
			會員管理
		</a>      

        <a asp-controller="Finance" asp-action="Index" class="btn-option">
            財務管理
        </a>

        <a asp-controller="ReturnBook" asp-action="Index" class="btn-option">
			我要還書
		</a>

        <a asp-controller="Set" asp-action="Index" class="btn-option">
            系統設定
        </a>
       
        <a asp-controller="Account" asp-action="Logout" class="btn-option">
            登出
        </a>
    </div>
</div>


